/* fonts */
@font-face {
    font-family: "roboto-thin";
    src: url(../../assets/fonts/Roboto-Thin.ttf);  
}
@font-face{
    font-family: "roboto-light";
    src: url(../../assets/fonts/Roboto-Light.ttf);
}
@font-face{
    font-family: "roboto-regular";
    src:url(../../assets/fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: "roboto-medium";
    src: url(../../assets/fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: "roboto-bold";
    src: url(../../assets/fonts/Roboto-Bold.ttf); 
}
/* utilities */
.p-x{
    padding: 0px 7vw;
}
hr {
    height: 1px;
    background-color: #d1d1d1;
    border: none;
}
/* general style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/* body styles */
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #6228D7, #EE2A7B, #F9CE34);

}
/* container form style */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* form style */
.form{
    background: #fff;
    height: 90%;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0px 15px 25px #0000008b;
}
/* header styles */
#header{
    height: 30%;
    /* background: #9fc4d9; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-logo{
    width: 200px;
    margin-top: 100px;
}

/* main styles */
#main{
    height: 60%;
    /* background: #c6dda4; */
}
/* input styles */
#username-input{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;  
}
#password-input{
    width: 100%;
}
.input{
    width: 100%;
    height: 5vh;
    background: none;
    border: solid 1px #A3A3A3;  
    border-radius: 5px;
    padding: 0px 15px;
    font-family: "roboto-light";
}
/* forgotten password styles */
#forgotten-password{
    padding: 15px 3px 25px 0px;
    text-align: right;
}
#forgotten{
    color: #008FFF;
    font-size: .8rem;
    font-family: "roboto-medium";
}
/* submit styles */
#submit{
    width: 100%;
}
#login-button{
    font-family: "roboto-regular";
    width: 100%;
    padding: 13px 0px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #008FFF;
}
/* or styles */
#or-section{
    font-family: "roboto-medium";
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
#or-p{
    color: #A3A3A3;
    font-size: .7rem;
}
.hr{
    width: 100%;
    padding-top: 3px;
}
.hr-left{
    padding-right: 20px;
}
.hr-right{
    padding-left: 20px;
}
/* log in with facebook styels */
#login-with-facebook{
    font-family: "roboto-medium";
    font-size: .9rem;
    width: 100%;
    text-align: center;
    padding-top: 35px;
    color: #008FFF;
}
/* footer styles */
#footer{
    height: 10%;
    /* background: #dc83c2; */
    padding: 0px 0px;
}
#footer-hr{
    width: 100%;
}
.text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-txt{
    padding: 0px 7vw;
}
#signUp{
    font-size: .8rem;
    font-family: "roboto-thin";
    color: #A3A3A3;
}
.signUp{
    font-family: "roboto-light";
    color: #008FFF;
}



/* *************** */
/* Responsive area */
@media only screen and (max-width: 600px) {
    .form{
        background: #fff;
        height: 90%;
        width: 85%;
        border-radius: 15px;
        box-shadow: 0px 15px 25px #0000008b;
    } 
}


@media only screen and (min-width: 600px) and (max-width : 992px) {
    .form{
        background: #fff;
        height: 90%;
        width: 75%;
        border-radius: 15px;
        box-shadow: 0px 15px 25px #0000008b;
    } 
}

@media only screen and (min-width: 992px) and (max-width : 1200px) {
    .form{
        background: #fff;
        height: 90%;
        width: 60%;
        border-radius: 15px;
        box-shadow: 0px 15px 25px #0000008b;
    } 
}

@media only screen and (min-width: 1200px) and (max-width : 2000px) {
    .form{
        background: #fff;
        height: 90%;
        width: 60%;
        border-radius: 15px;
        box-shadow: 0px 15px 25px #0000008b;
    } 
}